<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="shell">
      {{ partial "sidebar.html" . }}

      <div class="col-main">
        {{ partial "nav.html" . }}
        <main>
          {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div>

    <footer class="site-footer">
      <div class="inner">
        {{ partial "footer.html" . }}
      </div>
    </footer>

    <script src="{{ "js/site.js" | relURL }}" defer></script>
  </body>
</html>
