{{ define "main" }}
<article>
  {{ with .Parent }}
    <a class="backlink" href="{{ .RelPermalink }}">{{ partial "icon.html" "arrow-left" }}{{ .Title }}</a>
  {{ end }}

  <div class="page-head">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="page-meta">
      {{ with .Date }}<span>{{ .Format "2006-01-02" }}</span>{{ end }}
      <span>{{ .ReadingTime }} min read</span>
      {{ with .Params.tags }}
        <span>
          {{ range $i, $t := . }}{{ if $i }}, {{ end }}<a href="{{ (printf "/tags/%s/" ($t | urlize)) | relURL }}">{{ $t }}</a>{{ end }}
        </span>
      {{ end }}
    </div>
  </div>

  {{ if .TableOfContents }}
    <div class="toc">
      <div class="toc-title">Contents</div>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="prose">
    {{ .Content }}
  </div>
</article>
{{ end }}
