{{ define "main" }}
<div class="page-head">
  <h1 class="page-title">#{{ .Title }}</h1>
  <div class="page-meta">{{ len .Pages }} {{ cond (eq (len .Pages) 1) "entry" "entries" }}</div>
</div>

<ul class="entry">
  {{ range .Pages.ByDate.Reverse }}
    <li>
      <div class="entry-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      <div class="entry-meta">{{ with .Date }}{{ .Format "2006-01-02" }}{{ end }}</div>
      {{ with .Summary }}<div class="entry-summary">{{ . }}</div>{{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}
